body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Blanco */
    color: #000000; /* Negro */
}

header {
    background-color: #3498db; /* Azul */
    color: #ffffff; /* Blanco */
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}

.social-media {
    margin-bottom: 30px;
}

.social-media h2 {
    color: #3498db; /* Azul */
}

footer {
    background-color: #3498db; /* Azul */
    color: #ffffff; /* Blanco */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}